<div id="<%= dom_id expense %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Title:</strong>
    <%= expense.title %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Amount:</strong>
    <%= expense.amount %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Category:</strong>
    <%= expense.category %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Entry date:</strong>
    <%= expense.entry_date %>
  </div>
</div>
